<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690787181980-q6i4b6vstbdrom2nbek7svp0vna62eau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690787181980-q6i4b6vstbdrom2nbek7svp0vna62eau</string>
	<key>API_KEY</key>
	<string>AIzaSyAlcmlpYTTP5VZ9FTebCf8MncGwo91Vy14</string>
	<key>GCM_SENDER_ID</key>
	<string>690787181980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.gpsCar</string>
	<key>PROJECT_ID</key>
	<string>gpscar-d23cb</string>
	<key>STORAGE_BUCKET</key>
	<string>gpscar-d23cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690787181980:ios:697a7045141fe610d95459</string>
	<key>DATABASE_URL</key>
	<string>https://gpscar-d23cb.firebaseio.com</string>
</dict>
</plist>