<ion-header>
  <ion-row>
    <ion-col text-start padding-top>
      <ion-title>Google Map</ion-title>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
 
  <div class="map-wrapper">
    <div id="map_center" *ngIf="mostrarMarcador">
      <img src="../../assets/icon/center_marker.png" />
    </div>
    <div #map id="map"></div>
  </div>
  <ion-input type="hidden" [(ngModel)]="ubicacionAuto" inputmode="text"></ion-input>
  <ion-input type="hidden" [(ngModel)]="mIubicacion" inputmode="text"></ion-input>
  
  <ion-grid style="height: 30%;">
  <ion-row style="height: 20%;">
    <ion-segment [(ngModel)]="tipoMovilizacion" (ionChange)="cambiarRuta()" color="primary">
      <ion-segment-button value="WALKING">
        <ion-icon name="walk"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="DRIVING">
        <ion-icon name="car"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-row>
  <ion-row>
    <ion-col style="height: 10%;" text-end>
      <ion-button (click)="calcRoute()" shape="round" fill="outline" *ngIf="mostrarBtnCalcular">
        <ion-icon slot="start" name="locate"></ion-icon>
        Calcular Ruta
      </ion-button>
      <ion-button (click)="loadMap()" shape="round" fill="outline">
        <ion-icon slot="start" name="locate"></ion-icon>
        Centrar
      </ion-button>
      <ion-button (click)="presentModal()" shape="round" fill="outline" *ngIf="mostrarBtnLlegar">
        <ion-icon slot="start" name="locate"></ion-icon>
        Como llegar
      </ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
