<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <ion-col text-start class="columnaHeaderApp">
        <ion-img id="logoApp" src="../../assets/icon/logoApp.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]= "true">
  <div padding>

  <div *ngIf="!sinDatos">

    <div *ngFor="let item of historialEstacionamientos" class="ion-text-center" mode="md">
    <ion-card button = "true" color="light">
      <ion-card-header>
        <ion-card-title>{{item.fechaEstacionamiento}} </ion-card-title>
        <ion-card-title>{{item.hora}}</ion-card-title>
        <ion-card-subtitle>{{item.direccion}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <div class="ion-text-center" *ngIf="item.autoEstacionado == true">
          <ion-button (click)="mostrarEnMapa(item)" id="botonPosicion"> <ion-icon name="pin"></ion-icon> </ion-button>
        </div>
        <div class="ion-text-center" *ngIf="item.autoEstacionado == false">
          <ion-label><h3>Viaje finalizado</h3></ion-label>
        </div>
      </ion-card-content>
    </ion-card>    
    </div>    

</div>

<div *ngIf="sinDatos">
  <ion-col>
    <div class="ion-text-center">
    <ion-label><h3>Actualmente no registra datos. </h3></ion-label>
  </div>
  </ion-col>
</div>  
</div>


</ion-content>

<ion-footer class="container-fluid bg-4 text-center">
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="irHome()">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Home</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button (click)="irHistorial()" style="background-color: aliceblue;">
      <ion-icon name="car"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="irMapa()">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button >
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>FAQ</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-footer>
