<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <ion-col text-start class="columnaHeaderApp">
        <ion-img id="logoApp" src="../../assets/icon/logoApp.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]= "true">
  <div padding>
  <ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-center">
      <ion-label><h2>Direccion</h2></ion-label>
    </div>
    </ion-col>

    <ion-col>
      <div class="ion-text-center">
      <ion-label><h2>Fecha</h2></ion-label>
    </div>
    </ion-col>

    <ion-col>
      <div class="ion-text-center">
      <ion-label><h2>Direccion</h2></ion-label>
    </div>
    </ion-col>

  </ion-row>

  <div *ngIf="!sinDatos">

      <ion-row  *ngFor="let item of historialEstacionamientos">
        <ion-col>
          <div class="ion-text-center">
          <ion-label><h3>{{item.direccion}} </h3></ion-label>
        </div>
        </ion-col>
    
        <ion-col>
          <div class="ion-text-center">
          <ion-label><h3>{{item.fechaEstacionamiento}}</h3></ion-label>
        </div>
        </ion-col>
    
        <ion-col>
          <div class="ion-text-center">
          <ion-button (click)="mostrarEnMapa(item)" id="botonPosicion"> <ion-icon name="pin"></ion-icon> </ion-button>
        </div>
        </ion-col>
      </ion-row>

</div>

<div *ngIf="sinDatos">
  <ion-col>
    <div class="ion-text-center">
    <ion-label><h3>Actualmente no registra datos. </h3></ion-label>
  </div>
  </ion-col>
</div>
  
  </ion-grid>
</div>


</ion-content>

<ion-footer class="container-fluid bg-4 text-center">
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="irHome()">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Home</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button (click)="irHistorial()">
      <ion-icon name="car"></ion-icon>
      <ion-label>Historial*</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="irMapa()">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button >
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>FAQ</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-footer>
