<ion-app>
  <ion-menu side="start" menuId="menuApp"  type="overlay">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let pages of navigate">
        <ion-item [routerLink]="pages.url" routerDirection="forward">
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
            <ion-label>{{pages.title}} </ion-label>
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main [swipeGesture]="false"></ion-router-outlet>
</ion-app>
