<ion-header>
  <ion-button (click)="cerrarModal()" color="warning" shape="round" fill="outline" class="ion-float-right">
    <ion-icon slot="start" name="locate"></ion-icon>
    Cerrar
  </ion-button>
</ion-header>

<ion-content class="ion-padding">

  <ion-slides type="ios" pager="true" [options]="slideOpts">

    <ion-slide>
      <img src="../../assets/slides/slide-1.png"/>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/slides/mapa.png"/>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/slides/alerta.png"/>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/slides/slide-4.png"/>
    </ion-slide>

  </ion-slides>

</ion-content>
