<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      <ion-img id="logoApp" src="../../assets/icon/logoApp.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scroll-y="false">
  <ion-slides #IonSlides pager="true" [options]="slideOpts" (ionSlideTouchStart)="bloquearSwipe()">

    <ion-slide>
      <ion-img class= "imgSlide" src="../../assets/slides/slide-1.JPG"></ion-img>
      <div class="btn-slides">
      <ion-button color="secondary" (click)="irSiguienteSlide()" class="text">Deslice a la derecha <ion-icon class="icon" slot="end" name="arrow-forward"></ion-icon></ion-button>
      </div>
    </ion-slide>

    <ion-slide>
        <ion-img class= "imgSlide" src="../../assets/slides/slide-2.JPG"></ion-img>
        <div class="btn-slides">
            <ion-button color="secondary" (click)="irSiguienteSlide()" class="text">Deslice a la derecha <ion-icon class="icon" slot="end" name="arrow-forward"></ion-icon></ion-button>
        </div>
      </ion-slide>

    <ion-slide>
        <ion-img class= "imgSlide" src="../../assets/slides/slide-3.JPG"></ion-img>
        <div class="btn-slides">
            <ion-button color="success" routerLink="/menuApp" routerDirection="forward" class="ion-text-uppercase" >Entendido<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </div>
      
    </ion-slide>
  </ion-slides>
</ion-content>
