<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      <ion-img id="logoApp" src="../../assets/icon/logoApp.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding scroll-y="false">
  <ion-slides>

    <ion-slide>
      <img src="../../assets/slides/slide-1.png"/>
      <h2>Bienvenido(a) a <b>Find your car</b></h2>
      <p>Esta aplicación te ayudara a encontar facilmente tu auto, conoce un poco mas deslizando.</p>
      <br>
      <ion-label color="secondary" class="text">Deslice a la derecha <ion-icon class="icon" slot="end" name="arrow-forward"></ion-icon></ion-label>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/slides/mapa.png"/>
      <h2>Encuentra rapidamente tu automovil</h2>
      <p><b>Olvidaste donde lo estacionaste?</b> Tan solo abre la aplicación y encuentra facilmente la ubicación de tu vehiculo.</p>
      <br>
      <ion-label color="secondary" class="text">Deslice a la derecha <ion-icon class="icon" slot="end" name="arrow-forward"></ion-icon></ion-label>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/slides/alerta.png"/>
      <h2>Recibe alertas de robo</h2>
      <p><b>Marca un punto en el mapa</b> Si el vehiculo es percibido moviendose fuera del punto donde lo dejaste, la app te enviará un mensaje de alerta.</p>
      <br>
      <ion-label color="secondary" class="text">Deslice a la derecha <ion-icon class="icon" slot="end" name="arrow-forward"></ion-icon></ion-label>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/slides/slide-4.png"/>
      <h2>Listo para empezar?</h2>
      <ion-button fill="clear" routerLink="/menuApp" routerDirection="forward" class="ion-text-uppercase" >Listo! <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
