<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-wrap">Paso a paso a tu destino</ion-title>
  </ion-toolbar>
  <ion-button (click)="cerrarModal()" shape="round" fill="outline" class="ion-float-right">
    <ion-icon slot="start" name="locate"></ion-icon>
    Cerrar
  </ion-button>
</ion-header>

<ion-content class="ion-padding">
<ion-grid grid-width-sm>

  <ion-row>
    <ion-col>
      <ion-item-divider *ngIf="warnings != ''">
        <ion-label text-wrap> 
          {{warnings}}
        </ion-label>
      </ion-item-divider>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-start">
    <ion-col size="6">
      <ion-item-divider>
        <div>
        <ion-label text-wrap>
          {{direccionInicio}}
        </ion-label>
      </div>
      </ion-item-divider>
    </ion-col>
    <ion-col size="6">
      <h6>{{distancia}} , {{tiempo}}</h6>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h6>Instrucciones: </h6>
    </ion-col>
  </ion-row>
  <div *ngFor="let paso of pasos">
  <ion-item>
  <ion-row >    
    <ion-col size="6">
    <ion-item-divider color="secondary">
    <ion-label text-wrap [innerHTML]="paso.instructions">
    </ion-label>
  </ion-item-divider>  
  </ion-col>

  <ion-col class="ion-float-right" size="6">
    <h6>{{paso.distance.text}} , {{paso.duration.text}}</h6>
  </ion-col>
  </ion-row>
</ion-item>
</div>

<ion-row>
  <ion-col>
    <ion-item-divider>
      <ion-label text-wrap>
        {{direccionFin}}
      </ion-label>
    </ion-item-divider>
  </ion-col>
</ion-row>
</ion-grid>

</ion-content>
